<!doctype html>
<html lang = "en">
<body> 
    <header>
        <a href = "/">My Awesome 11ty Site!</a>
    </header>
<main>
{% if title %}<h1>{{title}}</h1>{% endif %}
    {{content}}
</main>
</body>
</html>